/********************************************
* 	reset from
* 	http://meyerweb.com/eric/tools/css/reset/
*******************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************
*	COMMONS
****************/

body,
html {
  font-family: sans-serif;
  font-size: 13px;
  color: #40484f;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.46153846;
  text-align: left;
  -webkit-text-size-adjust: 100%;
}

p {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #000;
  /* text-transform: uppercase; */
  padding: 2px 4px 2px 4px; 
  text-decoration: none;
}

li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 1.3em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.67rem;
}

h3 {
  font-size: 1.2rem;
}

em {
  color: #757575;
}

blockquote {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

/* END BOILER PLATE STYLES */

#resume {
  margin: 3.2rem auto;
  padding: 1rem;
}

.section {
  margin-bottom: 1rem;
}

section .location {
  margin-right: 0.5em;
  color: #606d76;
  font-weight: 700;
}

#contact {
  margin-top: 0.5rem;
}

#profiles .item {
  padding: 0;
}

#header > #profiles,
#header > #contact,
#skills,
#languages,
#interests {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#header > div {
  line-height: 1.5;
}

#header > div > div {
  margin-right: 1.2em;
}

#header h1.name {
  font-family: 'Major Mono Display', monospace;
  text-transform: lowercase;
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 100%;
}

#header h2.label {
  color: #202931;
  font-size: 1.47rem;
  font-weight: 300;
}

#header .image {
  width: 6em;
  float: right;
  border-radius: 4px;
  top:0px;
}

.main-summary {
  background: #eee;
  padding: 1.2em 1em;
  margin-top: 1rem;
  border-radius: 6px;
  font-size: 1.1em;
}

.main-summary p {
  margin: 0;
}

.section-title {
  display: inline-block;
  background: #fff;
  padding: 0 1em 0.3em 0;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  font-size: 0.9rem;
}

.section > header {
  position: relative;
}

.fa {
  margin-right: 0.25em;
}

.section > header::after {
  position: absolute;
  left: 0;
  top: 0.7em;
  height: 1px;
  background: #ccc;
  content: "";
  width: 100%;
  z-index: -100;
  display: block;
}

.section.main-summary > section {
  margin: 0;
}

.section > section > header {
  font-size: 1.38rem;
  position: relative;
  margin-top: 0.7em;
}

.section > section > header:first-of-type {
  margin: 0;
}

.section > section > header .space-left {
  position: absolute;
  left: -1.56rem;
  top: 5px;
  color: #aaa;
  line-height: 1;
  opacity: 0;
}

.position,
.company,
.organization,
.institution,
.date,
.area,
.studyType,
.title,
.awarder {
  display: inline;
}

.position,
.studyType,
.area,
.title,
.language,
.name {
  font-weight: 600;
}

.position{
  font-size: 1.2em;
}
.company{
  font-size: 1.1em;
}

.company,
.institution,
.organization,
.awarder {
  color: #666;
  font-weight: 400;
}

.section header .date {
  display: block;
  font-size: 1rem;
  padding: 0.1em 0;
  color: #666;
  font-weight: 400;
}

.keywords{
  display: inline;
  margin: .1em;
}

.courses {
  display: inline-block;
  margin: 0.3em 0.1em 0.4em 0.1em;
}

.keywords li,
.courses li {
  display: inline;
  margin: 2px 2px 2px 0;
  padding: 4px 5px 5px;
  font-size: 0.9rem;
  line-height: 1;
  color: #666;
  background-color: #eee;
  border: 0 solid #eee;
  border-radius: 3px;
  white-space: nowrap;
}

.keywords li:hover,
.courses li:hover {
  background: #eee;
}

.highlights {
  margin: 1em 0 0 0;
}

.highlights > li > p {
  margin-bottom: 0.5em;
}

.item {
  overflow: hidden;
}

.gpa {
  clear: both;
  padding-bottom: 0.5em;
}


#languages .item,
#skills .item,
#interests .item {
  width: 15em;
  padding: 0 0.5em 0.5em 0;
  border-bottom: none;
  margin-bottom: 10px;
}

#skills .item {
  width: max(calc(32%), 22em);
}

#skills .item .keywords {
  width: 15em;
}


.toggle-item {
  display: none;
}

.section > section > section {
  margin-bottom: 0.5rem;
}

.collapsible {
  width: 100%;
  cursor: pointer;
}


.collapsible:after {
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapse {
  max-width: 1100px;
  margin: auto;
}

/******************
*	HELPER CLASSES
******************/

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.display {
  display: block;
  opacity: 1 !important;
}


@media screen and (min-width: 602px) {

  .section header .date {
    float: right;
    font-weight: 600;
    color: #000;
  }
}


@media screen and (min-width: 1025px) {
  li {
    margin-left: 1.5em;
  }
  #resume {
    max-width: 1080px;
  }
  .section > section > header .space-left {
    opacity: 1;
    cursor: pointer;
  }
  .section > section:not(.main-summary) {
    margin-left: 1.67rem;
  }
  .toggle-item {
    transform: translate(-9999px);
  }
  .toggle-item + label {
    display: block;
  }
  .toggle-item:checked + label:after {
    content: "\2212";
  }

  .toggle-item + label:after {
    float: left;
    cursor: pointer;
    margin-left: -20px;
    color: #aaa;
    font-size: 16px;
    font-weight: 900;
    content: "\002B";
  }
  .toggle-item {
    height: 0;
    opacity: 0;
  }
  .toggle-item:checked ~ .item {
    height: auto;
    opacity: 1;
  }
  .company::before,
  .institution::before,
  .organization::before,
  .awarder::before {
    content: "| ";
  }
  .header-left {
    float: left;
    width: 70%;
    word-break: normal;
  }
  .section header .date {
    padding: 0.2em;
  }
  .display {
    display: none;
  }
  .display:not(.none) {
    display: block;
  }
}